<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
</head>

<body>

    <form action="/upload" method="POST" encType="multipart/form-data">
        <input type="file" name="fileUpload">
        <button type="submit" class="btn btn-primary btn-sm">upload</button>
    </form>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>